{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "babel-plugin-transform-typescript-metadata",
    ["@babel/plugin-proposal-class-properties"]
    // [
    //   "module-resolver",
    //   {
    //     "root": ["./api"],
    //     "extensions": [".js", ".ts", ".tsx", ".json"],
    //     "alias": {
    //       "models": "./api/models",
    //       "apollo": "./api/apollo"
    //     }
    //   }
    // ]
  ]
}
